<!-- tasks/templates/tasks/reset.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset</title>
</head>
<body>
    <h1>Are you sure you want to reset all the task?</h1>
    <p>This action cannot be undone!</p>
    
    <!-- Form to reset -->
    <form method="POST" action="{% url 'reset' %}">
        {% csrf_token %}
        <button type="submit">Yes, Delete</button>
    </form>
    
    <!-- Link to cancel -->
    <a href="{% url 'task_list' %}">No, Go Back</a>
</body>
</html>