<!-- tasks/templates/tasks/task_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
</head>
<body>
    <h1>To-Do List</h1>
    <a href="{% url 'add_task' %}">Add a New Task</a> <!--link that takes you to url of add task-->
    
    <ul>
        <form method="POST" action="{% url 'task_list' %}"> 
            {% csrf_token %}
            <ul> <!--This creates the bullet points in the list-->
                {% for task in tasks %}
                <li>
                    <!--Check what url detail_task refers to, view(function) or what?-->   
                    <a href="{% url 'detail_task' task_id=task.id %}">{{ task.title }}</a> - {% if task.completed %}Completed{% else %}Pending{% endif %}
                    <input type="checkbox" name="task_{{ task.id }}" {% if task.completed %}checked{% endif %}>
                </li>
            {% endfor %}
            </ul>
            
            <button type="submit">Save changes</button>
        </form>      
    </ul>
</body>
</html>